#body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

#videoContainer {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
}

#videoElement {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

#outputText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 15px;
    border-radius: 5px;
}

#generateSentenceButton {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#generateSentenceButton:hover {
    background-color: #218838;
}
